body {
    height: 480px;
    width: auto;
    /*background: #22c1c3;  !* fallback for old browsers *!*/
    /*background: -webkit-linear-gradient(to bottom, #fdbb2d, #22c1c3);  !* Chrome 10-25, Safari 5.1-6 *!*/
    /*background: linear-gradient(to bottom, #fdbb2d, #22c1c3); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
    overflow-y: hidden;
    overflow-x: hidden;
    margin: 0;
    background-color: #E5E4E2;
    font-family: 'Quicksand', sans-serif;
    
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.btn-custom {
    border: 1px solid black;
    box-shadow: none;
    width: 100%;
    color: black;
    background-color: transparent;
    border-radius: 0px;
    font-family: 'Quicksand', sans-serif;
}

.row {
 padding: 0;
 margin: 0;
}

.col {
    padding: 0;
    margin: 0;
}

.container {
    padding: 10px;
    margin: 0;
}

small { font-size: .7em }
svg { display: block }
.page-spacer {
    min-height: 171px;
    height: calc(100% - 160px);
}
.battery-text {
    width: 80px;
    height: 160px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: #fff;
    background-image: linear-gradient(#fff 50%, #c3c3c3 0%);
    background-repeat: repeat;
    background-size: 100% 200%;
    transition: background-position .5s ease, opacity .5s ease;
    opacity: 0;
    z-index: 2;
}
.battery,
.battery-text,
.slider {
    margin: 0 auto;
    position: absolute;
    line-height: 6.38em;
    text-align: center;
    font-size: 1.5em;
    color: white;
    top: calc(40% - 150px);
    left: calc(50% - 39.5px);
}
.pointer { cursor: pointer }
.battery {
    box-sizing: content-box;
    border: 3px solid #00fa57;
    height: 90px;
    border-radius: 3px;
    width: 50px;
    background-color: #00fa57;
    background-image: linear-gradient(#00fa57 50%, #444 0%);
    background-repeat: repeat;
    background-size: 100% 200%;
    background-position: 0 -100%;
    transition: background-position .5s ease;
}
.battery::after {
    box-sizing: content-box;
    background-color: #00fa57;
    content: '';
    display: block;
    height: 5px;
    position: absolute;
    right: 15px;
    top: -6px;
    width: 20px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.bubbles {
    display: inline-block;
    position: relative;
}
.battery-bubbles {
    width: 100px;
    left: calc(50% - 50px);
    height: 149px;
}
.bottom-bubbles {
    width: 39px;
    left: calc(50% - 20px);
    height: 150px;
}
.bubbles span {
    position: relative;
    margin: 3em 0 0; /* Height bubbles rise to */
    color: #fff;
    z-index: 2;
}
.individual-bubble {
    position: absolute;
    border-radius: 100%;
    bottom: 0;
    background-color: #00fa57;
    z-index: 1;
}
.vertical {
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 159.5px;
    margin: 0;
    margin-left: 95px;
}
.liquid {
    position: absolute;
    width: 50px;
    height: 5px;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
    margin-top: -51px;
    transition: top .5s ease;
    display: none;
}
.wave {
    -webkit-animation-name: wave-action;
            animation-name: wave-action;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-duration: .8s;
            animation-duration: .8s;
    width: 70px;
    height: 5px;
    fill: #00fa57;
}
@-webkit-keyframes wave-action {
    0%   { -webkit-transform: translate(-150px, 0) }
    100% { -webkit-transform: translate(0, 0) }
}
@keyframes wave-action {
    0%   { transform: translate(-150px, 0) }
    100% { transform: translate(0, 0) }
}

/**/

@media all and (max-height: 332px){
   .onscreen { top: 11px }
}

/**/

/* Animating the top property in Microsoft Edge does not work so prevent animating it */
_:-ms-lang(x), _:-webkit-full-screen, .individual-bubble { top: inherit !important }